.App {
  background: rgb(34,163,195);
  background: linear-gradient(0deg, rgba(34,163,195,1) 0%, rgba(196,45,253,0.6041010154061625) 94%);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
